<html>
<head>
    <meta http-equiv="Content-Type" content="application/json;charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script type="text/javascript" src="http://localhost:20008/js/jquery-1.11.3.min.js"></script>
</head>
<body>
<br/><br/><br/>
用户姓名：<input type="text" id="name"/>
用户密码：<input type="text" id="password"/>
用户年龄：<input type="text" id="age"/>
<input type="button" value="推送用户信息" id="pushUser"/>

<br/><br/><br/>
新闻标题：<input type="text" id="title"/>
新闻内容：<input type="text" id="content"/>
新闻路径：<input type="text" id="url"/>
新闻作者：<input type="text" id="author"/>
<input type="button" value="推送新闻信息" id="pushNews"/>


<br/><br/><br/>
客户姓名：<input type="text" id="cusname"/>
客户地址：<input type="text" id="address"/>
客户手机：<input type="text" id="mobile"/>
<input type="button" value="推送客户信息" id="pushClient"/>

</body>


<script type="text/javascript">
//    $(document).ready(function() {
        $("#pushUser").click(function () {
            var data = {
                name: $("#name").val(),
                password: $("#password").val(),
                age: $("#age").val()
            };
            ajaxDo("/message/send/", data);
        });
        $("#pushNews").click(function () {
            var data = {
                title: $("#title").val(),
                content: $("#content").val(),
                author: $("#author").val(),
                url: $("#url").val()
            };
            ajaxDo("/activemq-service/push/news", data);
        });
        $("#pushClient").click(function () {
            var data = {
                name: $("#cusname").val(),
                address: $("#address").val(),
                mobile: $("#mobile").val()
            };
            ajaxDo("/activemq-service/push/client", data);
        });

        function ajaxDo(url, data) {
            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",

                data: JSON.stringify(data),
                contentType : "application/json;charset=utf-8",
                success: function (result) {
                    if (result.success) {
                        var obj = JSON.stringify(result.obj);
                        alert(obj);
                    } else {
                        alert(result.msg);
                    }
                }
            });
        }
//    };

</script>
</html>